# Binary files
/done/pictDBM/pictDBM
/done/pictDBM/pictDB_server
*.o
*.so
/done/pictDBM/libmongoose/libmongoose.so

# Test files
testDB*
tmp

# Images
*.jpg

# Doxygen
Doxyfile
html
latex

# Text editors config
CProjectSession
progOSProject.sublime-workspace
